test.py
build/*
dist/*
adorad.egg-info/*
*.pyc
__pycache__/*
.vscode/*
.vs/*
*.exe
*.out
*.obj

csrc/build
out/*
assert/*
torch-test/*
oldmake.bat
main.cpp
test.cpp 

extern-sources/Autodiff/autodiff 
extern-sources/Autodiff/autodiff-autodiff 
extern-sources/Autodiff/coin-or-CppAD
extern-sources/Autodiff/geotz-autodiff